* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    gap: 1rem;
    width: min(980px, 90%);
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.preview {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.button {
    background-color: blue;
    border: 2px solid blue;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: none;
    color: white;
    display: flex;
    min-height: 36px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
    padding: 0 24px;
    width: fit-content;
}

.button:hover {
    background-color: white;
    color: blue;
}